main{
    display: block;
    height: 100%;
    background-color:#f5f4f2;
    width: calc(100% - 300px);
    
}

main .main-content{
    overflow: auto;
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
  

}
/*Estilo do overflow bar / scroll bar do main content */
.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6e8efb;
}
 .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;

}
.panel-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px ;

}
.panel-50{
    width: 48%;
}
.panel-row button{
    border: none;
    height: 180px;
    background: linear-gradient(135deg,#6eBefb,#a777e3);
    font-size: 22px;
    color: #fff;

}
.panel-row button:hover{
    transform: scale(1.05);
    transition: .2s;

}
div#ajax-content{
    width: 100%;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
}

div#ajax-content button{
    background: linear-gradient(135deg,#6eBefb,#a777e3);
    color: white;


}
div#ajax-content button:hover{
    transform: scale(1.05);
    transition: .2s;

}
div#ajax-content label{
    font-size: 14px;
    color: #72777a;
     
}
div#ajax-content table svg{
    cursor: pointer;
}
.dynamic-content{
    padding: 20px;
}
div.main-content-title{
    padding: 5px 0;

}
div.main-content-title h2{

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #72777a;
}