
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dash</title>
        <link rel="stylesheet" href="../CSS/all.css">
        <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
    </head>
    <body>
        <div class="flex-dashboard">
            <nav>
                <div class="sidebar-title">
                    <img src="../image/health.png" alt="">
                    <h2>HEALT</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="@"><i class="fas fa-home"></i> Dashboard</a></li>
                        <li><a href="@"><i class="fas fa-user"></i> Perfil</a></li>
                        <li><a href="@"><i class="fas fa-balance-scale-left"></i>
                                Gerenciar Peso e altura</a></li>
                        <li><a href="@"><i class="fas fa-heartbeat"></i>
                                Gerenciar pressão arterial</a></li>
                        <li><a href="@"><i class="fas fa-running"></i> Gerenciar
                                atividades fisicas</a></li>
                        <li><a href=""><i class="fas fa-utensils"></i> Gerenciar
                                alimentos</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <header>
                    <a href=""><i class="fas fa-home"></i>Dashboard</a>
                    <a href=""><i class="fas fa-sign-out-alt"></i>Logout</a>
                </header>
                <div class="main-content"><p>main</p></div>
            </main>
        </div>
        <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../Plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>