<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="../CSS/all.css">
    <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
</head>

<body>
    <div class="flex-dashboard">
        <nav>
            <div class="sidebar-title">
                <img src="../image/health.png" alt="">
                <h2>HEALT</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="../views/dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="perfil.html">Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-balance-scale-left"></i>
                        <a href="gerenciarPeso.html">Gerenciar Peso e altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciarPressao.html">Gerenciar pressão arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-running"></i>
                        <a href="gerenciarAtividades.html">Gerenciar atividades fisicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.html">Gerenciar alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcularIMC.html">Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <header>
                <a href="dashboard.html"><i class="fas fa-home"></i>Dashboard</a>
                <a href="../index.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar peso e altura</h2>
                </div>
                <div class="panel-row">
                    <button class="panel-50" a-view="cadastrarPeso" onclick="fetchContent(this)" a-folder="peso">Cadastrar Peso</button>
                    <button class="panel-50" a-view="visualizarPeso" a-folder="peso" onclick="fetchContent(this)">Visualizar Peso</button>
                </div>
                <div class="content" id="ajax-content"></div>
            </div>
        </main>
    </div>
    <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Plugins/fontawesome/js/all.min.js"></script>
    <script src="../JS/ajax.js"></script>
</body>

</html>